*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Built application files
*.apk
*.ap_
*.dex

# Keystore files
*.jks

# Gradle
.gradle

# Test results
/test-output/

# MacOS
.DS_Store

# Windows
Thumbs.db

# ProGuard
proguard/

# Other build
*/build/
